/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Base de escala */
html{
    font-size:clamp(14px, 1vw, 18px);
}

/* Corpo */
body{
    min-height:100vh;
    background:var(--bg-principal);

    display:flex;
    align-items:center;
    justify-content:center;

    font-family:var(--fonte-terminal);
}


/* Textos */
h1{
    color:var(--cor-principal);
    font-size:clamp(2rem, 5vw, 3.5rem);

    text-shadow:
    0 0 0.1rem var(--cor-principal),
    0 0 0.3rem var(--cor-principal),
    0 0 0.6rem var(--cor-principal);
}

p{
    color:var(--cor-principal);
    opacity:0.7;

    margin-bottom:clamp(1.5rem, 3vw, 2.5rem);
    font-size:clamp(0.9rem, 1.5vw, 1.2rem);

    text-shadow:
    0 0 0.1rem var(--cor-principal),
    0 0 0.3rem var(--cor-principal);
}

/* Botão base */
button{
    background:none;
    border:none;
    color:var(--cor-principal);
    font-family:var(--fonte-terminal);
    font-size:clamp(0.9rem, 1.2vw, 1.2rem);
    cursor:pointer;
}

button:hover{
    text-shadow:
    0 0 0.1rem var(--cor-principal),
    0 0 0.4rem var(--cor-principal);
}