
.img-cutscene{    
    width: 60vw;
    height: 25vw;
}

.organizador-cutscene{
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    height: 30vw;
}

.container-dialogo{
    height: 100%;
    max-height: 30vh;
    margin-top: 1vw;
    padding: 2vw;
    width: 60vw;
}

#cutscene-inicio{
    position:absolute;
    background-image:url("../img/cutscenes/cenas-placeholder2.jpg");
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    background-color: var(--bg-secundario);
}