.container_main{
    position:relative;
    width:100%;
    height:80vh;
    

    display:flex;
    justify-content:center;
    align-items:center;
}

.container_index{
    width:100%;
    height:70vh;
    text-align:center;
}
.menu_main{
    height: 100vh;
    max-width: 900px;
    width: 100%;
    position: relative;
    z-index: 2;
}

.container-menu{
    width:100%;
    height:auto;
    align-items: center;
}

.box-opcoes{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5vh;
    height:30vh;
    width:25vh;
}

.box-opcoes a{
    color:var(--cor-secundaria);

    margin-bottom:clamp(1.5rem, 3vw, 2.5rem);
    font-size:clamp(0.9rem, 1.5vw, 1.2rem);

    text-shadow:
    0 0 0.1rem var(--cor-secundaria),
    0 0 0.3rem var(--cor-secundaria),
    0 0 0.6rem var(--cor-secundaria);
}

.box-opcoes a:hover{
    color: var(--cor-principal);
}