*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*URL da imagem de fundo*/
    background-image: url('https://png.pngtree.com/png-clipart/20220709/ourmid/pngtree-crazy-blood-splash-photo-png-image_5854195.png');
    /*faz a imagem cobrir todo o contaier*/
    background-size: cover;
    /*centraliza a imagem dentro do container*/
    background-position: center;
    
    font-family: Arial, sans-serif;
    margin: 0; padding: 0;
    background-color: #2F7DEB;
}

header {
    background-color: #2F7DEB;
    color: rgb(255, 251, 31);
    padding: 1px;
    text-align: center;
    font-weight: bold;
    height: 1px;
}

header h1 {
    margin-top: 90px;
    font-size: 4em;
    font-family: "Boldonse", system-ui;
}

h2 {
    margin: 10px;
    font-size: 3.5rem;
}


.img-teste{
 
    /*URL da imagem de fundo*/
    background-image: url('https://i.namu.wiki/i/jBGUloHiJx1bDdrX6WKFzoz0hWtWNPBNP5CobsFzcvot7MeRTPOkQtyy9aGBkam0gJrBTNY9Qnz180EIMpocCQ.webp');
    /*faz a imagem cobrir todo o contaier*/
    background-size: cover;
    /*centraliza a imagem dentro do container*/
    background-position: center;

}