.titulo{
    color:var(--cor-principal);
    font-size:50px;

    text-shadow:
    0 0 2px var(--cor-principal),
    0 0 5px var(--cor-principal),
    0 0 10px var(--cor-principal);
    margin-bottom: 5vh;
    margin-top: 5vh;
    text-align:center;
}

.conteinerMenu{
    display:inline-block;
    background:var(--bg-secundario);

    padding:30px;
    width:300px;

    color:var(--cor-principal);

    border:2px solid var(--cor-principal);

    box-shadow:
    0 0 5px var(--cor-principal),
    0 0 10px var(--cor-principal),
    inset 0 0 5px var(--cor-principal);
}

.areaBotao a:hover{
    background: var(--cor-secundaria);
}