*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0; padding: 0;
    background-color: #e6e6e6;
}

header {
    background-color: #4b8049;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    font-weight: bold;
    height: 400px;
    justify-content: center;
    align-items:center;
}

header h1 {
    margin: 120px;
    font-family: 'Italiana';
    font-size: 6em;
}

h2 {
    margin: 20px;
    font-family: 'Italiana';
    font-size: 3.5rem;
}


nav {
    text-align: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.363);
}

nav a {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #d8d8d8;
}

main {
    margin: 20px;
}

section {
    text-align: center;
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

article{
    text-align: left;
    background: rgba(0, 0, 0, 0);
    padding: 15px;
    margin: 10px 0;
    border-radius: 0px;
    text-decoration: none;
}

/*========================== FONTES ==========================  */

.font-1{
    font-family: 'Italiana';
    font-size: 2.5em;
}

/*========================== NAVEGAÇÃO ==========================  */

.menu-hover ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.menu-hover li {
    margin-right: 20px;
}

.menu-hover a{
    text-decoration: none;
    padding: 15px;
    color: rgb(0, 0, 0);
    display: block;
}

.menu-hover a:hover{
    background-color: #d3d3d3;
    transition: background-color 0.3s;
}
/*==========================INICIO==========================  */

/* Ajustando o início */
#Inicio {
    text-align: center;
    margin: auto;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
}

/* Ajustando as imagens */
.imagem {
    float: center;
    margin: 33px;
    width: 256px;
    height: auto;
}

/*========================== CONTAINERS ==========================  */

.container{
    width: 70%;
    margin: auto;
    border-radius: 10px;
}

.container-info{ /*container da parte de informação */
    background-color: #ffffff00;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*========================== VOLTAR PRO TOPO ==========================  */

.btn-voltar{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn-voltar:hover {
    background-color: #6d6d6d;
}

/*========================== BORDA ==========================  */

.borda-solida {
    border: 5px solid black; /* Define uma borda preta de 5px */
    display: inline-block; /* Faz a div se ajustar ao tamanho da imagem */
  }

/*==========================RECEITAS==========================  */

.texto-receita-left {
    float: left;
    font-size: 1.5em;
    text-align: left;
    max-width: 600px;
    padding: 20px;
    margin: 40px;
}

.texto-receita-right {
    float: right;
    font-size: 1.5em;
    text-align: left;
    max-width: 600px;
    padding: 20px;
    margin: 40px;
}

.imagem-receita-left {
    float: left;
    width: 390px;
    height: auto;
    border: #333;
}

.imagem-receita-right {
    float: right;
    width: 390px;
    height: auto;
}

/*==========================SOBRE NÓS==========================  */

#Sobre_Nós {
    font-size: 1.5em;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 10px 0;
    border-radius: 5px;
}

.clear{
    clear: both;
}
footer {
    background-color: #a33636;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
}