* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
}

header {
  background-color: #ac4f4f;
  color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

header h1 {
  font-family: "Italiana";
  font-size: 3.5em;
}

nav {
  text-align: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.363);
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #d8d8d8;
}

main {
  margin: 20px;
}

section {
  display: flex;
  text-align: center;
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
}

section h2{
  justify-content: center;
  text-align: center;
  margin: 20;
  padding: 20px;
  border-radius: 10px;
}

article{
  text-align: center;
  background: white;
  padding: 15px;
  margin: 42.1px;
  border: 5px solid #d502ff;
  border-radius: 5px;
  box-shadow: #000000;
}


footer {
  background-color: #a33636;
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: 20px;
}


.titulos {
  justify-content: center;
    text-align: center;
    margin: 20;
    padding: 20px;
    border-radius: 10px;
    background-color: #d502ff00;
}

.imagem{
  float: center;
  margin: 60px;
  width: 256px;
  height: auto;
}

.imagem-receita{
  margin: 10px;
  width: 200px;
  height: auto;
}
/*========================== INICIO ==========================  */


.font-1 {
  font-family: "Italiana";
  font-size: 2.5em;
}

/*==========================VOLTAR PRO TOPO==========================  */
.btn-voltar {
  text-align: center;
  margin: 20px auto;
  padding: 10px 15px;
  background-color: #c9c9c9;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 5px;
  width: 150px;
  font-weight: bold;
}

.btn-voltar:hover {
  background-color: #aaaaaa;
}

.box-fixo{
  position: fixed;
  top: 20px;
  right: 20px;
  left: 20px;
  background-color: #4b8049;;
  color: #4b8049;
  padding: 20px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}