* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
}

header {
  padding: 30px;
  background-color: #383838;
  color: rgb(255, 251, 0);
  display: flex;
  justify-content: center;
  font-weight: bold;
}

header h1 {
  padding: 70px;
  font-family: "Italiana";
  font-size: 3.5em;
}

nav {
  text-align: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.363);
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #d8d8d8;
}

main {
  margin: 20px;
}

section {
  text-align: center;
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
}

section h2{
  justify-content: center;
  text-align: center;
  margin: 20;
  padding: 20px;
  border-radius: 10px;
}

.imagem-logo{
  width: 350px;
  height: auto;
  margin-bottom: 20px; /* Espaçamento entre o logo e o texto */
}

/* Definindo o estilo para o header com imagem de fundo */
/* Container do header com fundo e posicionamento da imagem */
.imagem-fundo {
  width:350px;
  height: auto;
  background-image: url('assets/depositphotos_16331195-stock-photo-military.jpg');
}